<div class="container">
	<h1 class="text-center"> New Account Setup </h1>
	<div class="form-group row">
		<label for="example-text-input" class="col-2 col-form-label">First Name</label>
		<div class="col-6">
			<input class="form-control" type="text" id="fnameInput" required="required">
		</div>
	</div>
	<div class="form-group row">
		<label for="example-text-input" class="col-2 col-form-label">Last Name</label>
		<div class="col-6">
			<input class="form-control" type="text" id="lnameInput" required="required">
		</div>
	</div>
	<div class="form-group row">
		<label for="example-text-input" class="col-2 col-form-label">Address</label>
		<div class="col-6">
			<input class="form-control" type="text" id="addressInput" required="required">
		</div>
	</div>
	<div class="form-group row">
		<label for="example-text-input" class="col-2 col-form-label">City</label>
		<div class="col-6">
			<input class="form-control" type="text" id="cityInput" required="required">
		</div>
	</div>
	<div class="form-group row">
		<label for="example-text-input" class="col-2 col-form-label">State</label>
		<div class="col-6">
			<input class="form-control" type="text" id="stateInput" required="required">
		</div>
	</div>
	<div class="form-group row">
		<label for="example-text-input" class="col-2 col-form-label">Zip</label>
		<div class="col-6">
			<input class="form-control" type="text" id="zipInput" required="required">
		</div>
	</div>
	<div class="form-group row">
		<label for="example-text-input" class="col-2 col-form-label">Email Address</label>
		<div class="col-6">
			<input class="form-control" type="email" id="emailInput" required="required">
		</div>
	</div>
	<div class="form-group row">
		<label for="example-text-input" class="col-2 col-form-label">Phone</label>
		<div class="col-6">
			<input class="form-control" type="tel" id="phoneInput" required="required">
		</div>
	</div>
	<button type="submit" id="subAccount" class="btn btn-success btn-lg offset-2">Create Account</button>
	<input type="hidden" id="uuidInput">
	<input type="hidden" id="user_id">
</div>
    <script src="/assets/js/accounts.js"></script>
