<link type="text/css" rel="stylesheet" href="/assets/css/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">

<div class="container-fluid">
	<div class="row">
		<div class="col-8 text-center">
			
				<h1>Power Hour</h1>
				<p> Keep track of billable hours for future and current contract</p>
			</div>

		<div id="side-bar" class="col-4 text-center">
						
				<br><br><br><br><br><br><br>
				<h2>Sign In</h2>
				<br><br><br>
				<div id="firebaseui-auth-container"></div>
		</div>
	</div>	
</div>
