<link type="text/css" rel="stylesheet" href="/assets/css/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">

<!-- NavBar -->
<nav class="navbar navbar-light bg-faded navColor">
	
<a class="navbar-brand vertAligned" href="#">

	<img src="https://stpeterineastgate.org.uk/wp-content/uploads/2016/02/power-hour-event.png" width="30" height="30" class="d-inline-block align-middle" alt="">
	Power Hour
</a>
</nav>

<section id="cover" class="image-fluid" alt="responsive-image">
	
	<div id="cover-caption">

		<br><br><br>
		<div class="container">
			<div class="col-sm-12 col-sm--offset-1 text-center">
				<h1>Power Hour</h1>
				<p class="tagline">The freelancer's best friend.</p>
				<div id="firebaseui-auth-container"></div>
			</div>
		</div>
	</div>
</section>